In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
from sklearn import metrics

import statsmodels.api as sm
from statsmodels.tools import eval_measures

In [42]:
data2005 = pd.read_csv("precios-eess-2005.csv")

In [43]:
data2005.shape

(295157, 19)

In [69]:
movilidad = pd.read_csv("Global_Mobility_Report.csv")

C:\Users\ThoT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [59]:
movilidad.head(2)

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0

In [70]:
maskarg=movilidad['country_region']=='Argentina'

In [71]:
movilidad=movilidad[maskarg]

In [72]:
movilidad.head(5)

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
9693,AR,Argentina,NaN,NaN,NaN,NaN,NaN,ChIJZ8b99fXKvJURqA_wKpl3Lz0,2020-02-15,1.0,-3.0,-3.0,4.0,-1.0,0.0
9694,AR,Argentina,NaN,NaN,NaN,NaN,NaN,ChIJZ8b99fXKvJURqA_wKpl3Lz0,2020-02-16,-6.0,-6.0,-14.0,-2.0,-4.0,2.0
9695,AR,Argentina,NaN,NaN,NaN,NaN,NaN,ChIJZ8b99fXKvJURqA_wKpl3Lz0,2020-02-17,-10.0,-8.0,-23.0,-2.0,7.0,1.0
9696,AR,Argentina,NaN,NaN,NaN,NaN,NaN,ChIJZ8b99fXKvJURqA_wKpl3Lz0,2020-02-18,3.0,3.0,-2.0,9.0,9.0,-1.0
9697,AR,Argentina,NaN,NaN,NaN,NaN,NaN,ChIJZ8b99fXKvJURqA_wKpl3Lz0,2020-02-19,1.0,0.0,10.0,8.0,11.0,-2.0

In [73]:
movilidad.columns

Index(['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'place_id', 'date',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [74]:
movilidad=movilidad.drop(['country_region_code',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'place_id',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],axis=1)

In [75]:
movilidad.head(5)

,country_region,sub_region_1,sub_region_2,date,workplaces_percent_change_from_baseline
9693,Argentina,NaN,NaN,2020-02-15,-1.0
9694,Argentina,NaN,NaN,2020-02-16,-4.0
9695,Argentina,NaN,NaN,2020-02-17,7.0
9696,Argentina,NaN,NaN,2020-02-18,9.0
9697,Argentina,NaN,NaN,2020-02-19,11.0

In [76]:
movilidad.to_csv('movilidad.csv',index=False)

In [8]:
data2019 = pd.read_csv("precios-eess-2019.csv")

In [9]:
data2020 = pd.read_csv("precios-eess-2020.csv")

In [27]:
coordenadas = pd.read_csv('precios-en-surtidor-resolucin-3142016.csv')

In [18]:
data2019.shape

(246692, 19)

In [19]:
data2020.shape

(245940, 19)

In [10]:
data2019.head(5)

,anio,mes,operador,nro_inscripcion,bandera,fecha_de_baja,cuit,tipo_negocio,direccion,localidad,provincia,producto,canal_de_comercializacion,precio_sin_impuestos,precio_con_impuestos,volumen,precio_surtidor,no_novimientos,exentos
0,2019,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (súper) entre 92 y 95 Ron,Al público,27.2562,40.260,16.31,40.26,NO,f
1,2019,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (premium) de más de 95 Ron,Al público,33.7909,47.590,4.04,47.59,NO,f
2,2019,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 2,Al público,26.5372,36.930,33.21,36.93,NO,f
3,2019,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 3,Al público,33.3736,44.820,6.32,44.82,NO,f
4,2019,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,GNC,Al público,12.5199,16.119,73742.90,16.29,NO,f

In [11]:
data2019.columns

Index(['anio', 'mes', 'operador', 'nro_inscripcion', 'bandera',
       'fecha_de_baja', 'cuit', 'tipo_negocio', 'direccion', 'localidad',
       'provincia', 'producto', 'canal_de_comercializacion',
       'precio_sin_impuestos', 'precio_con_impuestos', 'volumen',
       'precio_surtidor', 'no_novimientos', 'exentos'],
      dtype='object')

In [16]:
datatotal=pd.concat([data2020, data2019], ignore_index=True)

In [17]:
datatotal.head()

,anio,mes,operador,nro_inscripcion,bandera,fecha_de_baja,cuit,tipo_negocio,direccion,localidad,provincia,producto,canal_de_comercializacion,precio_sin_impuestos,precio_con_impuestos,volumen,precio_surtidor,no_novimientos,exentos
0,2020,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (súper) entre 92 y 95 Ron,Al público,39.0744,54.5600,10.42,54.56,NO,f
1,2020,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (premium) de más de 95 Ron,Al público,46.6536,63.1539,3.27,62.23,NO,f
2,2020,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 2,Al público,42.5124,56.2600,10.59,56.26,NO,f
3,2020,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 3,Al público,49.3406,64.1400,2.92,64.14,NO,f
4,2020,1,10 DE SETIEMBRE S.A.,1376,BLANCA,NaN,33-64337382-9,Estación de servicio,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,GNC,Al público,15.9741,20.2987,55894.60,20.99,NO,f

In [20]:
datatotal.shape

(492632, 19)

In [21]:
datatotal.columns

Index(['anio', 'mes', 'operador', 'nro_inscripcion', 'bandera',
       'fecha_de_baja', 'cuit', 'tipo_negocio', 'direccion', 'localidad',
       'provincia', 'producto', 'canal_de_comercializacion',
       'precio_sin_impuestos', 'precio_con_impuestos', 'volumen',
       'precio_surtidor', 'no_novimientos', 'exentos'],
      dtype='object')

In [22]:
datatotal=datatotal.drop(['fecha_de_baja','cuit', 'direccion','no_novimientos', 'exentos'],axis=1)

In [24]:
datatotal=datatotal.drop(['precio_sin_impuestos', 'precio_con_impuestos'],axis=1)

In [25]:
datatotal.columns

Index(['anio', 'mes', 'operador', 'nro_inscripcion', 'bandera', 'tipo_negocio',
       'localidad', 'provincia', 'producto', 'canal_de_comercializacion',
       'volumen', 'precio_surtidor'],
      dtype='object')

In [26]:
datatotal['nro_inscripcion']

0         1376
1         1376
2         1376
3         1376
4         1376
          ...
492627    6459
492628    4097
492629    4097
492630    4097
492631    4097
Name: nro_inscripcion, Length: 492632, dtype: int64

In [28]:
coordenadas.head(4)

,indice_tiempo,idempresa,cuit,empresa,direccion,localidad,provincia,region,idproducto,producto,idtipohorario,tipohorario,precio,fecha_vigencia,idempresabandera,empresabandera,latitud,longitud,geojson
0,2021-06,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,19,Gas Oil Grado 2,2,Diurno,91.2,2021-06-03 13:25:00,1,BLANCA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
1,2021-06,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,19,Gas Oil Grado 2,3,Nocturno,91.2,2021-06-03 13:25:00,1,BLANCA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
2,2021-06,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,21,Gas Oil Grado 3,2,Diurno,106.4,2021-06-03 13:34:00,1,BLANCA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
3,2021-06,1376,33-64337382-9,10 DE SETIEMBRE S.A.,Av. Mosconi 299,LOMAS DEL MIRADOR,BUENOS AIRES,PAMPEANA,21,Gas Oil Grado 3,3,Nocturno,106.4,2021-06-03 13:34:00,1,BLANCA,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."

In [29]:
coordenadas.columns

Index(['indice_tiempo', 'idempresa', 'cuit', 'empresa', 'direccion',
       'localidad', 'provincia', 'region', 'idproducto', 'producto',
       'idtipohorario', 'tipohorario', 'precio', 'fecha_vigencia',
       'idempresabandera', 'empresabandera', 'latitud', 'longitud', 'geojson'],
      dtype='object')

In [30]:
coordenadas=coordenadas.drop(['indice_tiempo', 'cuit', 'empresa', 'direccion',
       'localidad', 'provincia', 'region', 'idproducto', 'producto',
       'idtipohorario', 'tipohorario', 'precio', 'fecha_vigencia',
       'idempresabandera', 'empresabandera'],axis=1)

In [31]:
coordenadas.columns

Index(['idempresa', 'latitud', 'longitud', 'geojson'], dtype='object')

In [32]:
coordenadas.head()

,idempresa,latitud,longitud,geojson
0,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
1,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
2,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
3,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."
4,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34...."

In [36]:
coordenadas['idempresa'].unique().shape[0]

4762

In [47]:
coordenadas['nro_inscripcion']=coordenadas['idempresa']

In [37]:
datatotal['nro_inscripcion'].unique().shape[0]

5336

In [48]:
inner_join = pd.merge(coordenadas,datatotal , on='nro_inscripcion', how='inner')
inner_join

,idempresa,latitud,longitud,geojson,nro_inscripcion,anio,mes,operador,bandera,tipo_negocio,localidad,provincia,producto,canal_de_comercializacion,volumen,precio_surtidor
0,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (súper) entre 92 y 95 Ron,Al público,10.420,54.56
1,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (premium) de más de 95 Ron,Al público,3.270,62.23
2,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 2,Al público,10.590,56.26
3,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 3,Al público,2.920,64.14
4,1376,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,GNC,Al público,55894.600,20.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813488,2243,-26.602490,-60.953010,"{""type"":""Point"",""coordinates"":[-60.95301,-26.6...",2243,2019,10,ALFREDO BRUGNOLI E HIJOS S.C.C,BLANCA,Estación de servicio,CONCEPCION DEL BERMEJO,CHACO,Gas Oil Grado 2,Al público,1.576,59.70
3813489,2243,-26.602490,-60.953010,"{""type"":""Point"",""coordinates"":[-60.95301,-26.6...",2243,2019,11,ALFREDO BRUGNOLI E HIJOS S.C.C,BLANCA,Estación de servicio,CONCEPCION DEL BERMEJO,CHACO,Gas Oil Grado 2,Al público,1.533,59.70
3813490,2243,-26.602490,-60.953010,"{""type"":""Point"",""coordinates"":[-60.95301,-26.6...",2243,2019,11,ALFREDO BRUGNOLI E HIJOS S.C.C,BLANCA,Estación de servicio,CONCEPCION DEL BERMEJO,CHACO,Nafta (súper) entre 92 y 95 Ron,Al público,2.796,58.50
3813491,2243,-26.602490,-60.953010,"{""type"":""Point"",""coordinates"":[-60.95301,-26.6...",2243,2019,12,ALFREDO BRUGNOLI E HIJOS S.C.C,BLANCA,Estación de servicio,CONCEPCION DEL BERMEJO,CHACO,Nafta (súper) entre 92 y 95 Ron,Al público,2.683,60.90
3813492,2243,-26.602490,-60.953010,"{""type"":""Point"",""coordinates"":[-60.95301,-26.6...",2243,2019,12,ALFREDO BRUGNOLI E HIJOS S.C.C,BLANCA,Estación de servicio,CONCEPCION DEL BERMEJO,CHACO,Gas Oil Grado 2,Al público,3.110,63.90

In [49]:
inner_join.shape

(3813493, 16)

In [50]:
inner_join['nro_inscripcion'].unique().shape[0]

4597

In [53]:
(inner_join['nro_inscripcion']==inner_join['idempresa']).unique()

array([ True])

In [54]:
datatotal=inner_join.drop(['idempresa'],axis=1)

In [55]:
datatotal.head(5)

,latitud,longitud,geojson,nro_inscripcion,anio,mes,operador,bandera,tipo_negocio,localidad,provincia,producto,canal_de_comercializacion,volumen,precio_surtidor
0,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (súper) entre 92 y 95 Ron,Al público,10.42,54.56
1,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Nafta (premium) de más de 95 Ron,Al público,3.27,62.23
2,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 2,Al público,10.59,56.26
3,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,Gas Oil Grado 3,Al público,2.92,64.14
4,-34.658476,-58.529443,"{""type"":""Point"",""coordinates"":[-58.529443,-34....",1376,2020,1,10 DE SETIEMBRE S.A.,BLANCA,Estación de servicio,LOMAS DEL MIRADOR,BUENOS AIRES,GNC,Al público,55894.60,20.99

In [57]:
datatotal['producto'].unique()

array(['Nafta (súper) entre 92 y 95 Ron',
       'Nafta (premium) de más de 95 Ron', 'Gas Oil Grado 2',
       'Gas Oil Grado 3', 'GNC', 'Kerosene', 'N/D',
       'Nafta (común) hasta 92 Ron', 'Gas Oil Grado 2B', 'GLPA'],
      dtype=object)

sdad